svg {
  border: 1px solid #ccc;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.node-circle {
  stroke: white;
  stroke-width: 1.5px;
}

.node-text {
  font-size: 12px;
  text-anchor: middle;
  dominant-baseline: middle;
  fill: white;
  pointer-events: none;
}

#marker-relation > path {
  fill: #1890ff;
}

#marker-walk > path {
  fill: orange;
}

.link {
  stroke-width: 1.5px;
  stroke-opacity: 0.6;
  fill: none;
}

.link-relation {
  stroke: #1890ff;
}

.link-walk {
  stroke: orange;
}

.link-text {
  font-size: 12px;
  text-anchor: middle;
  fill: #999;
}
